.container{
    max-width: 1000px;
    margin: auto;
}

.containerSobre{
    text-align: center;
}

.containerSobre h2{
    margin-bottom: 20px;
    font-size: 28px;
    }   
.containerSobre p{
    margin-bottom: 40px;

}

.img{
    width: 100%;
    height: auto;
    object-fit: cover;
}