.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 30px;
}

.logomarca{
    width: 100px;
    height: auto;
    display: block;
}

/* .navmenu{
    display: flex;
    gap: 20px;
} */