.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 20px;
}

.logoMarca{
    width: 100px;
    height: auto;
    display: block;
}

.navmenu{
    display: flex;
    gap: 20px;
}

.navmenu a{
    text-decoration: none;
    color: #333;
}
