.secaoCapa{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 85vh;
    background-image: url('../../publico/capa.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
.container {
    margin: auto;
    width: 1000px;
}
.textoCapa {
    text-align: left;
    width: 40%;
}

.textoCapa p {
    font-size: 1.5rem;
    margin: 0;
}

.textoCapa h1 {
    font-size: 3rem;
    margin: 10px 0;
    text-transform: uppercase;
}